# API Backend URL
# Para desarrollo local: http://localhost:3002/api
# Para producción: https://tu-backend.onrender.com/api
VITE_API_URL=http://localhost:3002/api

# Google Sheets IDs (usados en el backend)
VITE_SPREADSHEET_ID=1hCbcC82oeY4auvQ6TC4FdmWcfr35Cnw-EJcPg8B8MCg
VITE_SPREADSHEET_ID_BACKUP=1Xp8VI8CulkMZMiOc1RzopFLrwL6FnTQ5a3_gskMpbcY
